canvas {
    z-index: 3;
    
    transform: translateY(-60px);
    
}


.container{
    width: 1000px;
    height: 800px;
    background-image: url('../images/fondo.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */        
    z-index: -1;
    
}

.canva{
    display: flex;
    flex-direction: column;
}

.players{
    display: flex;
    max-height: 100px;
    justify-content: space-around;
    margin-top: 20px;
    z-index: 0;
}

.players img{
    width: 50px;
    scale: 2;
    z-index: 0;
    transform: translateY(30px);
}

.p1{
    display: flex;

}

@keyframes pulso {
    0%, 100% {
        transform: scale(1) translateY(25px);
    }
    50% {
        transform: scale(1.1) translateY(25px); /* Aumenta ligeramente */
    }
}


/* Clase que activa el pulso */
.pulso {
    animation: pulso 0.7s infinite;
}
#venom{
    transform: translateY(25px);  
}








